<% if @lyric_snippet.image.attached? %>
  <%= cl_image_tag @lyric_snippet.image.key %>
<% end %>

<h1>--------</h1>

<% if @lyric_snippet.image.attached? %>
  <%= cl_image_tag @lyric_snippet.image.key %>
<% end %>

<h2>jdjaskldasljd</h2>
<h3>qweqwe</h3>
