@import './variables';

// // // // // button styles:
@mixin button-variant($bg-color, $text-color) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $bg-color;

  $hover-bg: darken($bg-color, 10%);
  $active-bg: darken($bg-color, 15%);

  &:hover {
    color: $text-color;
    background-color: $hover-bg;
    border-color: $hover-bg;
  }

  &:active {
    color: $text-color;
    background-color: $active-bg !important;
    border-color: $active-bg !important;
  }

  &:focus,
  &:focus-visible,
  &.focus,
  &:visited {
    color: $text-color;
    background-color: $hover-bg !important;
    border-color: $hover-bg !important;
  }

  &:focus:active,
  &:focus-visible:active,
  &.focus:active {
    color: $text-color;
    background-color: $active-bg !important;
    border-color: $active-bg !important;
  }

  &:not(:active):not(:focus):not(:hover) {
    color: $text-color;
    background-color: $bg-color !important;
    border-color: $bg-color !important;
  }
}

.btn-accent {
  @include button-variant($color-brand-accent, $color-brand-primary);

  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-accent-emphasized {
  @extend .btn-accent;
  transition: all 0.2s ease;

  &:not(:disabled):not(.disabled) {
    &:not(:active):not(:focus):not(:hover) {
      background-color: darken($color-brand-accent, 10%) !important;
      filter: drop-shadow(0 0 4px $color-brand-accent) !important;
    }

    &:hover {
      background-color: darken($color-brand-accent, 20%);
      filter: drop-shadow(0 0 4px darken($color-brand-accent, 20%)) !important;
      transform: scale(1.01);
      transition: transform 0.2s ease;
    }
  }
}

.btn-cancel {
  @include button-variant((lighten($color-brand-secondary, 40%)), $color-brand-primary);
}

// .btn-positive {
//   @include button-variant($color-action-positive, $color-brand-primary);
// }

// .btn-negative {
//   @include button-variant($color-action-negative, $color-brand-primary);
// }

// .btn-submit {
//   @include button-variant($color-action-submit, $color-brand-primary)
// }

.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);

    .fa-plus {
      color: $color-action-positive !important;

    }
    .fa-check {
      color: $color-action-positive !important;
    }

    .fa-xmark {
      color: $color-action-negative !important;
    }
  }
}



.button-fancy {
  --b: 3px;
  --s: .45em;
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
  conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
  var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .2s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  aspect-ratio: 4 / 1;
  margin: 3%;
  margin-left: 6%;
}

.button-fancy:hover,
.button-fancy:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-fancy:active {
  background: var(--color);
  color: #fff;
}

// // // // // button divs:
.button-container {
  display: flex;
  // gap: 10px;
  gap: 0.5rem;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  form {
    width: 100%;
  }

  .btn {
    width: 100%;
    white-space: nowrap;
  }
}
