@import './variables';

.game-progress-card {
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;

  &--winner {
    border: 0.25rem solid $color-brand-accent;
    // filter: drop-shadow(0 0 4px $color-brand-accent);
  }

  &--default {
    border: 1.5px solid $color-brand-secondary;
  }
}
