@import './variables';

.game-progress-card {
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;

  &--winner {
    border: 0.25rem solid $color-brand-accent;
    // filter: drop-shadow(0 0 4px $color-brand-accent);
  }

  &--default {
    border: 1.5px solid $color-brand-secondary;
  }
}

.snippet-card {
  cursor: pointer;
  height: 150px;
  width: 100%;
  max-width: 450px;
}

.expanded-snippet {
  $border-style: 3.5px solid black;
  box-shadow: 0 0 15px $color-brand-accent;
  // box-shadow: 0 4px 8px rgba($color-brand-accent, 0.3);
  margin: 0 auto;
  padding: 0;
  border: .5px solid black;

  border-radius: .5rem;
  overflow: hidden;
  // border: 1px solid black;
  // aspect-ratio: 16/9;
  // max-width: 95%;
  // min-height: 400px;
  // max-height: 400px;
  width: clamp(30%, 785px, 801px);
  margin-top: 10vh;
  margin-bottom: 10vh;
  // background-color: gray;
  // background-color: lighten($color-brand-secondary, 50%);

  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 90px;
  // height: 100%;
  // width: 100%;
  // background: linear-gradient(180deg, #f8f5ff 0%, #f3eeff 100%);

  > div {
    // margin: 1rem;
  }

  .lyric-box {
    // border-bottom: $border-style;

    // border-radius: 5rem 0 0 0;
    // font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // flex-direction: column;
    // background: rgba(85, 61, 103, 0.03);
    // background: $color-brand-accent;
    background: lighten($color-brand-secondary, 10%);
    p {
      color: white;
      // color: #2d1f35;
      // text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
      text-shadow: 0 0 30px rgba(255, 255, 255, 1);

      // background: radial-gradient(
      //   circle at center,
      //   rgba(255, 255, 255, 0.4) 0%,
      //   transparent 70%
      // );
      font-family: 'Source Serif Pro', serif;
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;


      // text-shadow: 0 0 20px rgba(255, 255, 255, 1);
      // max-height: 100%;
      // overflow-y: auto;

      // font-family: 'Caveat', cursive;
      // font-family: 'Permanent Marker', cursive;
      // font-family: 'Gloria Hallelujah', cursive;

      // font-family: 'Josefin Sans', sans-serif;
      // font-family: 'Montserrat', sans-serif;
      // font-family: 'Quicksand', sans-serif;

      // color: $color-brand-secondary;
      // font-family: 'Crimson Text', serif;
      // font-family: 'Playfair Display', serif;
      // text-shadow: 0 0 10px rgba(darken($color-brand-accent, 20%), .7);
    }

  }

  .image-box {
    padding: 0;
    border-left: $border-style;

    .square-image-container {
      // border-bottom: $border-style;
      aspect-ratio: 1/1;
      width: 100%;
      // min-height: 75%;
      position: relative;

      .album-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // border-radius: 0 .5rem 0 0;
      opacity: .85;
      }
    }
  }

  .button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: $border-style;
    // gap: 1rem;
  }

  .info-box {
    border-left: $border-style;
    border-top: $border-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: .9rem;
    padding-top: 0;
    padding-left: 1rem;
  }
}
