@import './variables';

.form-control:focus {
  border-color: $color-brand-accent !important;
  box-shadow: 0 0 0 0.25rem rgba($color-brand-accent, 0.25) !important;
  outline: 0;
}

.form-select:focus {
  border-color: $color-brand-accent !important;
  box-shadow: 0 0 0 0.25rem rgba($color-brand-accent, 0.25) !important;
  outline: 0;
}

.form-check-input:checked {
  background-color: $color-brand-accent;
  border-color: $color-brand-accent;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba($color-brand-accent, 0.25) !important;
}

// color for include_blank of dropdown
.form-select.select.required {
  color: #555 !important;
}

.form-select option[value] {
  color: black !important;
}

.form-select option[value=""] {
  display: none;
}
//

.form-control {
  margin-bottom: 1rem;
}

.form-container {
  background-color: lighten($color-brand-primary, 10%);
  // border: 1px solid lighten($color-brand-secondary, 40%);
  box-shadow: 0 0 5px $color-brand-secondary;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 6rem;
  max-width: 400px;
  // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  a {
    color: $color-brand-secondary;
    text-decoration: none;
    padding: .25rem;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    padding: .5rem 0;
    font-size: 1.5em;
    text-align: center;
  }
}
