// // $testcolor: #ff3fbf;
// $color-success: #6af583;
// $color-fail: #f07171;

// $obsidian: #1a1b1f;
// $anthracite: #2a2b2d;
// $charcoal: #2d2d2f;
// $dusty-salmon: #e8a5a5;
// $faded-terracotta: #d88c7e;
// $soft-coral: #f79b9b;

// $bg-white: #ffffff;
// $bg-off-white: #fafafa;
// $bg-light: #f5f5f7;
// $ash-gray: #96bbbbff;
// $hookers-green: #618985ff;
$azul: #016fb9ff;



$bg-white: #eeeeee;
// $bg-white: #ffffff;
$jet: #252525;
$dusty-rose: #dca1a1;

$new-white: $bg-white;
$new-black: $jet;

$color-brand-primary: $new-white;
$color-brand-secondary: $new-black;
$color-brand-accent: $dusty-rose;

$color-action-positive: green;
$color-action-negative: rgb(220, 20, 20);


$color-action-submit: $azul;
